/*
** blue: #46affe
** red: #f74444
** white: #fefefe
*/

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url(../assets/ProximaNovaSoft-Regular-webfont.ttf);
}

#mobileGo html, #mobileGo body {
  font-family: 'Proxima Nova Soft';
  margin: 0;
  overflow: hidden;
  background: #fefefe;
}

#mobileGo .container {
  padding: 14px 20px;
  margin-bottom: 20px;
  margin: auto;
  align-items: center;
  text-align: center;
}

#mobileGo .title {
  font-size: 22px;
  color: #fefefe;
  background: #46affe;
  padding: 30px 20px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

#mobileGo #qr-code img {
    width: 200px;
}

#mobileGo #qr-code .loader {
    width: 100px;
}

#mobileGo #url {
    padding: 20px 0;
}
