/*
** blue: #46affe
** red: #f74444
** white: #fefefe
*/

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url(../assets/ProximaNovaSoft-Regular-webfont.ttf);
}

#mobileGo html, #mobileGo body {
  font-family: 'Proxima Nova Soft';
  margin: 0;
}

#mobileGo .container {
  padding: 14px 20px;
  margin-bottom: 20px;
}

#mobileGo .login-form {
    width: 300px;
    height: 150px;
    margin: 20px;
}
#mobileGo .vacancy-form {
    min-height: 50px;
    width: 100%;
}

#mobileGo .resume {
  display: none;
}

#mobileGo ul {
    margin-left: 0;
    padding-left: 0;
}

#mobileGo li {
    list-style-type: none;
}

#mobileGo .title {
  font-size: 22px;
  color: #ffffff;
  background: #00aec8;
  padding: 30px 20px;
  margin: 0;
  font-weight: bold;
}

#mobileGo .btn {
  width: 100%;
  font-size: 16px;
  border-radius: 3px;
  color: #fff;
  background: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  padding: 11px 30px;
  transition: all 0.2s ease;
}

#mobileGo .btn:hover {
  opacity: 0.9;
}

#mobileGo .btn.btn-primary, #mobileGo .btn.btn-primary:hover {
  background: #00aec8 !important;
}

#mobileGo .btn:hover, #mobileGo .btn:focus {
  outline: 0;
}

#mobileGo input.form-control {
  height: 42px;
}

#mobileGo input.form-control:focus {
  outline: 0;
}

#mobileGo input[type=radio] {
    display: none;
}

#mobileGo input[type=radio]:checked + label:before {
  background: #00aec8;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0px 0px #fff, 0px 0px 0px 1px #00aec8;
  transition: all 0.2s ease;
}

#mobileGo label {
  cursor: pointer;
}

#mobileGo label:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 1px rgba(0,0,0, 1);
    top: 50%;
    transform: translateY(-50%);
}

#mobileGo label:before {
    border-radius: 8px;
}

#mobileGo #error, #mobileGo #error-select, #mobileGo #error-url, #mobileGo #success {
  display: none;
}

#mobileGo textarea {
   resize: none;
}

#mobileGo #find-offers {
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  color: #aaa;
  width: 90%;
  display: inline-block;
}

#mobileGo .cancel {
  color: #ccc;
  display: none;
  cursor: pointer;
  line-height: 40px;
  padding: 0 10px;
  font-size: 20px;
  float: right;
  transition: all 0.2s ease;
  border-radius: 3px;
}

#mobileGo .cancel:hover {
  color: #bbb;
  transition: all 0.2s ease;
}

#mobileGo footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  position: fixed;
  color: #ccc;
  background: #fff;
  cursor: pointer;
  padding-top: 10px;
}

#mobileGo footer a {
  color: #ccc;
}

#mobileGo .no-offer {
  text-align: center;
  color: #aaa;
}
